Repository NexGenAnalytics/Trilinos, pull requests merged in 2023-09, with the labels that each got.

#154 MueLu: Don't use hardcoded MPI_COMM_WORLD
  packages/muelu/adapters/amgx/MueLu_AMGXOperator_decl.hpp
  packages/muelu/src/MueCentral/MueLu_VerboseObject.cpp
  packages/muelu/src/Utils/MueLu_GlobalComm.hpp
  packages/muelu/src/Utils/MueLu_Memory.cpp
Labels: EpetraMPI T1

#107 #93: Remove use of MPI_COMM_WORLD from Isorropia package
  packages/isorropia/src/epetra/Isorropia_EpetraZoltanLib.cpp
Labels: EpetraMPI T1

#166 #165: Framework: Fix GPU Pipeline
  .github/workflows/ci-gpu-epetraOFF.yml
  .github/workflows/ci-gpu-epetraON.yml
Labels: EpetraMPI T2

#157 Percept: Remove use of hardcoded MPI_COMM_WORLD
  packages/percept/src/adapt/HangingNodeAdapter.hpp
  packages/percept/src/adapt/main/MeshAdapt.cpp
  packages/percept/src/percept/HistogramV.hpp
  packages/percept/src/percept/PerceptMesh.cpp
  packages/percept/src/percept/PerceptMesh.hpp
  packages/percept/src/percept/PerceptUtils.cpp
  packages/percept/src/percept/Percept_GlobalComm.hpp
  packages/percept/src/percept/Util.cpp
  packages/percept/src/percept/mesh/mod/smoother/MeshSmoother.cpp
  packages/percept/src/percept/rfgen/RFGen_KLSolver.C
Labels: NGA-internal, EpetraMPI T1

#110 #96: Remove use of MPI_COMM_WORLD in Pamgen package
  packages/pamgen/extra_functions/pamgen_extras.cpp
  packages/pamgen/extra_functions/pamgen_global_comm.h
  packages/pamgen/src/CMakeLists.txt
Labels: EpetraMPI T1

#149 #148: Belos: Update all `*_diag.cpp` tests to use `Tpetra`
  packages/belos/tpetra/test/BiCGStab/CMakeLists.txt
  packages/belos/tpetra/test/BiCGStab/test_bicgstab_diag.cpp
  packages/belos/tpetra/test/BlockGmres/CMakeLists.txt
  packages/belos/tpetra/test/BlockGmres/test_bl_gmres_diag.cpp
  packages/belos/tpetra/test/MultipleSolves/BelosLinearMultiShiftProblem.hpp
  packages/belos/tpetra/test/MultipleSolves/CMakeLists.txt
  packages/belos/tpetra/test/MultipleSolves/test_bl_gmres_multidiag.cpp
Labels: EpetraMPI T2, pkg: Belos

#70 #55: Belos: Add MINRES tpetra test
  packages/belos/tpetra/test/CMakeLists.txt
  packages/belos/tpetra/test/MINRES/CMakeLists.txt
  packages/belos/tpetra/test/MINRES/test_minres_diag.cpp
  packages/belos/tpetra/test/MINRES/test_minres_hb.cpp
  packages/belos/tpetra/test/MINRES/test_minres_indefinite.cpp
  packages/belos/tpetra/test/MINRES/test_pminres_hb.cpp
Labels: EpetraMPI T2, pkg: Belos

#152 #151: Belos: Provide `Tpetra` version of pseudo_cg_indefinite test
  packages/belos/tpetra/test/BlockCG/CMakeLists.txt
  packages/belos/tpetra/test/BlockCG/test_pseudo_cg_indefinite.cpp
Labels: EpetraMPI T2, pkg: Belos

#164 #159: Belos: Provide `Tpetra` version of GCRODR examples
  packages/belos/tpetra/example/CMakeLists.txt
  packages/belos/tpetra/example/GCRODR/CMakeLists.txt
  packages/belos/tpetra/example/GCRODR/Dummy
  packages/belos/tpetra/example/GCRODR/GCRODRTpetraExFile.cpp
  packages/belos/tpetra/example/GCRODR/sherman5.hb
Labels: EpetraMPI T2, pkg: Belos

#168 #163: Belos: Provide `Tpetra` version of LSQR examples
  packages/belos/tpetra/example/CMakeLists.txt
  packages/belos/tpetra/example/LSQR/CMakeLists.txt
  packages/belos/tpetra/example/LSQR/LSQRTpetraExFile.cpp
  packages/belos/tpetra/example/LSQR/PrecLSQRTpetraExFile.cpp
Labels: NGA-internal, EpetraMPI T2, pkg: Belos

#171 #162: Belos: Provide `Tpetra` version of RCG example
  packages/belos/tpetra/example/CMakeLists.txt
  packages/belos/tpetra/example/RCG/CMakeLists.txt
  packages/belos/tpetra/example/RCG/Dummy
  packages/belos/tpetra/example/RCG/RCGTpetraExFile.cpp
Labels: EpetraMPI T2, pkg: Belos

#179 #178: Belos: Provide `Tpetra` version of BlockGmres examples
  packages/belos/tpetra/example/BlockGmres/BlockGmresTpetraExFile.cpp
  packages/belos/tpetra/example/BlockGmres/BlockGmresTpetraGaleriEx.cpp
  packages/belos/tpetra/example/BlockGmres/CMakeLists.txt
  packages/belos/tpetra/example/BlockGmres/Dummy
  packages/belos/tpetra/example/BlockGmres/PseudoBlockGmresTpetraExFile.cpp
  packages/belos/tpetra/example/BlockGmres/identity.mtx
  packages/belos/tpetra/example/BlockGmres/orsirr1.hb
  packages/belos/tpetra/example/BlockGmres/orsirr1_scaled.hb
  packages/belos/tpetra/example/CMakeLists.txt
Labels: EpetraMPI T2, pkg: Belos

#175 #174: Belos: Provide `Tpetra` version of BlockCG examples
  packages/belos/tpetra/example/BlockCG/BlockCGTpetraExFile.cpp
  packages/belos/tpetra/example/BlockCG/CMakeLists.txt
  packages/belos/tpetra/example/BlockCG/PseudoBlockCGTpetraExFile.cpp
  packages/belos/tpetra/example/CMakeLists.txt
Labels: EpetraMPI T2, pkg: Belos

#161 #158: Belos: Provide `Tpetra` version of PCPG example
  packages/belos/tpetra/example/CMakeLists.txt
  packages/belos/tpetra/example/PCPG/CMakeLists.txt
  packages/belos/tpetra/example/PCPG/PCPGTpetraExFile.cpp
Labels: NGA-internal, EpetraMPI T2, pkg: Belos

#136 #131: Galeri: Add Tpetra tests
  packages/galeri/CMakeLists.txt
  packages/galeri/example-tpetra/CMakeLists.txt
  packages/galeri/example-tpetra/CrsMatrix_Tpetra.cpp
  packages/galeri/example-tpetra/LinearProblem_Tpetra.cpp
  packages/galeri/example-tpetra/Map_Tpetra.cpp
  packages/galeri/test/VerySimple/CMakeLists.txt
  packages/galeri/test/VerySimple/cxx_main_tpetra.cpp
Labels: EpetraMPI T2

#183 #180: Belos: Provide `Tpetra` version of TFQMR examples
  packages/belos/tpetra/example/CMakeLists.txt
  packages/belos/tpetra/example/TFQMR/CMakeLists.txt
  packages/belos/tpetra/example/TFQMR/PseudoBlockTFQMRTpetraExFile.cpp
  packages/belos/tpetra/example/TFQMR/TFQMRTpetraExFile.cpp
  packages/belos/tpetra/example/TFQMR/osrirr1.hb
Labels: NGA-internal, EpetraMPI T2, pkg: Belos

#206 #205: Belos: clean MINRES Tpetra test_minres_diag test
  packages/belos/tpetra/test/MINRES/test_minres_diag.cpp
  packages/belos/tpetra/test/MINRES/test_minres_hb.cpp
  packages/belos/tpetra/test/MINRES/test_minres_indefinite.cpp
  packages/belos/tpetra/test/MINRES/test_pminres_hb.cpp
Labels: NGA-internal, EpetraMPI T2, pkg: Belos

#212 #211: Belos: Provide `Tpetra` versions of all BlockGmres tests
  packages/belos/tpetra/test/BlockGmres/CMakeLists.txt
  packages/belos/tpetra/test/BlockGmres/Dummy
  packages/belos/tpetra/test/BlockGmres/test_pseudo_gmres_hb.cpp
  packages/belos/tpetra/test/BlockGmres/test_resolve_gmres_hb.cpp
  packages/belos/tpetra/test/CMakeLists.txt
  packages/belos/tpetra/test/MultiMatrixSolve/BelosLinearMultiShiftProblem.hpp
  packages/belos/tpetra/test/MultiMatrixSolve/CMakeLists.txt
  packages/belos/tpetra/test/MultiMatrixSolve/test_pseudo_gmres_multi_hb.cpp
Labels: EpetraMPI T2, pkg: Belos

#216 #215: Anasazi: Provide `Tpetra` version of GeneralizedDavidson directory
  packages/anasazi/tpetra/test/CMakeLists.txt
  packages/anasazi/tpetra/test/GeneralizedDavidson/CMakeLists.txt
  packages/anasazi/tpetra/test/GeneralizedDavidson/cxx_main.cpp
  packages/anasazi/tpetra/test/GeneralizedDavidson/cxx_main_lap.cpp
  packages/anasazi/tpetra/test/GeneralizedDavidson/cxx_main_nh.cpp
Labels: EpetraMPI T2, pkg: Anasazi
